.espacio {
  flex: 1 1 auto;
}
.footer {
  text-align: center;
  padding: 15px 0;
  background-color: #2f2f2f;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.datosuser{
font-size: .7em;
margin-bottom: 1px;
margin-block-end: 1px;
}
